@import 'partials/variables';
@import 'partials/bootstrap';
@import 'partials/global';
@import 'partials/layout';
@import 'partials/normalize';
@import 'partials/typography';
@import 'partials/header';
@import 'partials/footer';
@import 'pages/discover';
@import 'pages/search';
@import 'pages/homepage';
