footer {
  margin-top: 100px;

  .footer {
    font-size: 14px;
    letter-spacing: 4px;
    text-align: center;
  }
}

@media (min-width: 820px) and (max-width: 1100px) {
  footer {
    margin: 50px 0 0 0;
  }
}

@media (max-width: 820px) {
  footer {
    margin: 30px 0 0 0;

    .footer {
      font-size: 10px;
    }
  }
}
