* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $color-black;
  font-family: $font-family;
  font-size: 14px;
  line-height: 1.7;
  font-weight: $font-regular;
  color: $color-white;
}

#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

.hidden {
  display: none;
}
