// _typography.scss dość dobrze opisuje swoją rolę nazwą. Potrzebujesz uniwersalnych klas dla nagłówków, tytułów? Będziemy umieszczać je właśnie tutaj!
// Następnie warto zająć się plikiem typography.scss. Widzisz jakieś powtarzające się nagłówki czy style dla tekstu? Warto przygotować odpowiednie klasy.

h1 {
  text-transform: uppercase;
  font-weight: $font-bold;
  font-size: 26px;
}

h2 {
  text-transform: uppercase;
  font-weight: $font-bold;
  font-size: 14px;
}
