$color-one: #cf383e;
$color-white: #fff;
$color-gray: #bfbfbf;
$color-black: #131313;

$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$font-bigbold: 900;

$font-family: 'Source Sans 3', 'sans-serif';
